@import url("https://use.typekit.net/dhw4odj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red: 355 100% 45%;
    --dark-red: 355 100% 35%;
    --white: 0 0% 100%;
    --grey: 0 1% 26%;
    --lightblue: 197 78% 91%;
    --lightgrey: 0 0% 94%;
    --dark-blue: 220 81% 23%;

    --primary: var(--white);
    --secondary: var(--red);
    --logo: var(--grey);
    --support: var(--dark-blue);
    --light-grey: var(--lightgrey);
    --light-blue: var(--lightblue);
    --secondary-dark: var(--dark-red);
  }

  /* Ajoutez votre classe de police ici */
  .font-custom {
    font-family: 'Museo-Sans', sans-serif;
  }
}